@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body, html {
  font-family: 'Roboto', sans-serif;
  height: 1fr;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 20px 5px;
  height: 24px;
  padding-left: 2px;
}


.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1.5fr 5fr;
  grid-template-rows: 220px auto;
}

.sidebar {
  background-color: rgb(73, 73, 172);
  z-index: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  display: grid;

  grid-template-rows: 6fr 3fr;
}

#links {
  height: 1fr;
  padding: 40px 40px;
  color: white;
  
  display: grid;
  font-weight: 700;
  font-size: 24px;
}

#logo {
  font-size: 48px;
  width: 300px;
}

.search {
  background-color: white;
  white-space: nowrap;
  gap: 40px 50px;
  grid-column: 2, 3;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.37));
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 40px auto;
  padding: 40px 60px;
}

.search input {
  background-color: rgb(200, 209, 255);
  border: 0px transparent;
  margin-left: 16px;
  width: 90%;
  border-radius: 36px;
  padding: 10px;
  height: 42px;
  font-size: 28px;
}

.searchbox {
  width: 100%;
}
.profile {
  display: grid;
  grid-template-columns: 30px 50px auto;
  gap: 25px;
  align-items: center;
  font-weight: bold;
}
.profile svg{
  margin-left: 20px;
}
.profile img{
  height: 50px;
  border-radius: 50px;
}
.welcome img{
  height: 75px;
  border-radius: 75px;
}
.welcome {
  display: grid;
  grid-template-columns: 75px auto;
  gap: 16px;
  font-weight: bold;
}
.buttons button {
  border: 0px ;
  border-radius: 20px;
  background-color: rgb(73, 73, 172);
  font-weight: bold;
  color: white;
  font-size: 16px;
  height: 40px;
  padding: 10px 30px;
}
.buttons {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}
.projects {
  padding: 40px 20px;
  background-color: aliceblue;
  display: grid;
  column-gap: 20px;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.projects p {
  font-weight: bold;
  margin-bottom: 4px;
  font-size: 24px;
}
.card {
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  width: minmax(475px, 1fr);
  height: 300px;
  padding: 30px 20px;
  border-left: 18px solid salmon;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.123));
  display: grid;
  grid-template-rows: 6fr 1fr;
}
.card p {
  font-weight: 100;
  font-size: 18px;
}
.card h3 {
  font-size: 22px;
}
.mainprojects {
  grid-row: 1/3;
}
.svgcontainer {
  display: grid;
  grid-template-columns: 24px 24px 24px;
  gap: 16px;
  margin-left: 75%;
}
.cards {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(475px, 1fr));
}

.announcementcontainer {
  background-color: white;
  border-radius: 18px;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.123));
  height: 80%;
  display: grid;
  grid-template-rows: 1fr 0.1fr 1fr 0.1fr 1fr;
  padding: 12px;
  row-gap: 8px;
}
.border {
  width: 100%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.103);
}
.announcement p{
  font-weight: 100;
  font-size: 14px;
}
.profilecontainer {
  padding: 8px 16px;
  background-color: white;
  display: grid;
  row-gap: 20px;
  border-radius: 18px;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.123));

}
.profilee {
  display: grid;
  grid-template-columns: 50px auto;
}
.profile p{
  font-weight: 100;
  font-size: 14px;  
}
.text h5{
  font-size: 16px;
}
.profilee img{
  height: 50px;
  border-radius: 50px;
}
.profilee {
  column-gap: 20px;
}
.profilee p{
  font-weight: 100;
  font-size: 16px;
}