@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body, html {
  font-family: 'Roboto', sans-serif;
  height: 1fr;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 20px 5px;
  height: 24px;
  padding-left: 2px;
}


.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1.5fr 5fr;
  grid-template-rows: 175px auto;
}

.sidebar {
  background-color: rgb(73, 73, 172);
  z-index: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  display: grid;

  grid-template-rows: 6fr 3fr;
}

#links {
  height: 1fr;
  padding: 40px 40px;
  color: white;
  display: grid;
  font-weight: 700;
  font-size: 24px;
}

#logo {
  font-size: 48px;
  width: 300px;
}

.search {
  background-color: white;
  grid-column: 2, 3;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.37));
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 40px auto;
  padding: 40px 60px;
}

.search input {
  background-color: rgb(200, 209, 255);
  border: 0px transparent;
  margin-left: 16px;
  width: 90%;
  border-radius: 36px;
  padding: 10px;
  height: 42px;
  font-size: 28px;
}

.searchbox {
  width: 100%;
}
.projects {
  background-color: aliceblue;
}